ARK_API_KEY=your_real_volcengine_api_key
ARK_MODEL_ID=ep-your-model-id
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
HTML_RENDER_BROWSER=
LARK_DOC_SYNC_ENABLED=1
LARK_SLIDES_SYNC_ENABLED=0
LARK_DRIVE_UPLOAD_ENABLED=0
LARK_DOC_FOLDER_TOKEN=
LARK_DRIVE_FOLDER_TOKEN=
